flow/Kiros Transient Assistant.blueprint.make.com.json
{
    "name": "Kiros Transient Assistant",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 929580,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Vapi Dynamic Calls"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3809531
                            },
                            "filter": {
                                "name": "Assistant Request",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.type}}",
                                            "b": "assistant-request",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "filter": [
                                    [
                                        {
                                            "a": "C",
                                            "b": "{{1.message.call.customer.number}}",
                                            "o": "text:contain"
                                        }
                                    ]
                                ],
                                "sheetId": "Customer Database",
                                "sortOrder": "asc",
                                "spreadsheetId": "1daQJCnCTurO9PjWdZXJhM780Q1ZzGhfebLEx95yD52U",
                                "tableFirstRow": "A1:CZ1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 699,
                                    "y": 148
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "orderBy": {
                                            "mode": "chose"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Customer Database"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Call sheet"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-CZ"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "gabbbb.ong@gmail.com (gabbbb.ong@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "First Name (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "Last Name (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "Number (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "Sentiment Analysis (DISC) (D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "Zoom Meeting (E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "Email (F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "What is/are your financial objective(s)? (G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "New client objective (H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "Second Objective (I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "Third Objective (J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "Transcript (K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "End-Of-Call-Report (L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "(M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "(N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "(O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "(P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "(Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "(R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "(S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "(T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "(U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "(V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "(W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "(X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    },
                                    {
                                        "name": "26",
                                        "type": "text",
                                        "label": "(AA)"
                                    },
                                    {
                                        "name": "27",
                                        "type": "text",
                                        "label": "(AB)"
                                    },
                                    {
                                        "name": "28",
                                        "type": "text",
                                        "label": "(AC)"
                                    },
                                    {
                                        "name": "29",
                                        "type": "text",
                                        "label": "(AD)"
                                    },
                                    {
                                        "name": "30",
                                        "type": "text",
                                        "label": "(AE)"
                                    },
                                    {
                                        "name": "31",
                                        "type": "text",
                                        "label": "(AF)"
                                    },
                                    {
                                        "name": "32",
                                        "type": "text",
                                        "label": "(AG)"
                                    },
                                    {
                                        "name": "33",
                                        "type": "text",
                                        "label": "(AH)"
                                    },
                                    {
                                        "name": "34",
                                        "type": "text",
                                        "label": "(AI)"
                                    },
                                    {
                                        "name": "35",
                                        "type": "text",
                                        "label": "(AJ)"
                                    },
                                    {
                                        "name": "36",
                                        "type": "text",
                                        "label": "(AK)"
                                    },
                                    {
                                        "name": "37",
                                        "type": "text",
                                        "label": "(AL)"
                                    },
                                    {
                                        "name": "38",
                                        "type": "text",
                                        "label": "(AM)"
                                    },
                                    {
                                        "name": "39",
                                        "type": "text",
                                        "label": "(AN)"
                                    },
                                    {
                                        "name": "40",
                                        "type": "text",
                                        "label": "(AO)"
                                    },
                                    {
                                        "name": "41",
                                        "type": "text",
                                        "label": "(AP)"
                                    },
                                    {
                                        "name": "42",
                                        "type": "text",
                                        "label": "(AQ)"
                                    },
                                    {
                                        "name": "43",
                                        "type": "text",
                                        "label": "(AR)"
                                    },
                                    {
                                        "name": "44",
                                        "type": "text",
                                        "label": "(AS)"
                                    },
                                    {
                                        "name": "45",
                                        "type": "text",
                                        "label": "(AT)"
                                    },
                                    {
                                        "name": "46",
                                        "type": "text",
                                        "label": "(AU)"
                                    },
                                    {
                                        "name": "47",
                                        "type": "text",
                                        "label": "(AV)"
                                    },
                                    {
                                        "name": "48",
                                        "type": "text",
                                        "label": "(AW)"
                                    },
                                    {
                                        "name": "49",
                                        "type": "text",
                                        "label": "(AX)"
                                    },
                                    {
                                        "name": "50",
                                        "type": "text",
                                        "label": "(AY)"
                                    },
                                    {
                                        "name": "51",
                                        "type": "text",
                                        "label": "(AZ)"
                                    },
                                    {
                                        "name": "52",
                                        "type": "text",
                                        "label": "(BA)"
                                    },
                                    {
                                        "name": "53",
                                        "type": "text",
                                        "label": "(BB)"
                                    },
                                    {
                                        "name": "54",
                                        "type": "text",
                                        "label": "(BC)"
                                    },
                                    {
                                        "name": "55",
                                        "type": "text",
                                        "label": "(BD)"
                                    },
                                    {
                                        "name": "56",
                                        "type": "text",
                                        "label": "(BE)"
                                    },
                                    {
                                        "name": "57",
                                        "type": "text",
                                        "label": "(BF)"
                                    },
                                    {
                                        "name": "58",
                                        "type": "text",
                                        "label": "(BG)"
                                    },
                                    {
                                        "name": "59",
                                        "type": "text",
                                        "label": "(BH)"
                                    },
                                    {
                                        "name": "60",
                                        "type": "text",
                                        "label": "(BI)"
                                    },
                                    {
                                        "name": "61",
                                        "type": "text",
                                        "label": "(BJ)"
                                    },
                                    {
                                        "name": "62",
                                        "type": "text",
                                        "label": "(BK)"
                                    },
                                    {
                                        "name": "63",
                                        "type": "text",
                                        "label": "(BL)"
                                    },
                                    {
                                        "name": "64",
                                        "type": "text",
                                        "label": "(BM)"
                                    },
                                    {
                                        "name": "65",
                                        "type": "text",
                                        "label": "(BN)"
                                    },
                                    {
                                        "name": "66",
                                        "type": "text",
                                        "label": "(BO)"
                                    },
                                    {
                                        "name": "67",
                                        "type": "text",
                                        "label": "(BP)"
                                    },
                                    {
                                        "name": "68",
                                        "type": "text",
                                        "label": "(BQ)"
                                    },
                                    {
                                        "name": "69",
                                        "type": "text",
                                        "label": "(BR)"
                                    },
                                    {
                                        "name": "70",
                                        "type": "text",
                                        "label": "(BS)"
                                    },
                                    {
                                        "name": "71",
                                        "type": "text",
                                        "label": "(BT)"
                                    },
                                    {
                                        "name": "72",
                                        "type": "text",
                                        "label": "(BU)"
                                    },
                                    {
                                        "name": "73",
                                        "type": "text",
                                        "label": "(BV)"
                                    },
                                    {
                                        "name": "74",
                                        "type": "text",
                                        "label": "(BW)"
                                    },
                                    {
                                        "name": "75",
                                        "type": "text",
                                        "label": "(BX)"
                                    },
                                    {
                                        "name": "76",
                                        "type": "text",
                                        "label": "(BY)"
                                    },
                                    {
                                        "name": "77",
                                        "type": "text",
                                        "label": "(BZ)"
                                    },
                                    {
                                        "name": "78",
                                        "type": "text",
                                        "label": "(CA)"
                                    },
                                    {
                                        "name": "79",
                                        "type": "text",
                                        "label": "(CB)"
                                    },
                                    {
                                        "name": "80",
                                        "type": "text",
                                        "label": "(CC)"
                                    },
                                    {
                                        "name": "81",
                                        "type": "text",
                                        "label": "(CD)"
                                    },
                                    {
                                        "name": "82",
                                        "type": "text",
                                        "label": "(CE)"
                                    },
                                    {
                                        "name": "83",
                                        "type": "text",
                                        "label": "(CF)"
                                    },
                                    {
                                        "name": "84",
                                        "type": "text",
                                        "label": "(CG)"
                                    },
                                    {
                                        "name": "85",
                                        "type": "text",
                                        "label": "(CH)"
                                    },
                                    {
                                        "name": "86",
                                        "type": "text",
                                        "label": "(CI)"
                                    },
                                    {
                                        "name": "87",
                                        "type": "text",
                                        "label": "(CJ)"
                                    },
                                    {
                                        "name": "88",
                                        "type": "text",
                                        "label": "(CK)"
                                    },
                                    {
                                        "name": "89",
                                        "type": "text",
                                        "label": "(CL)"
                                    },
                                    {
                                        "name": "90",
                                        "type": "text",
                                        "label": "(CM)"
                                    },
                                    {
                                        "name": "91",
                                        "type": "text",
                                        "label": "(CN)"
                                    },
                                    {
                                        "name": "92",
                                        "type": "text",
                                        "label": "(CO)"
                                    },
                                    {
                                        "name": "93",
                                        "type": "text",
                                        "label": "(CP)"
                                    },
                                    {
                                        "name": "94",
                                        "type": "text",
                                        "label": "(CQ)"
                                    },
                                    {
                                        "name": "95",
                                        "type": "text",
                                        "label": "(CR)"
                                    },
                                    {
                                        "name": "96",
                                        "type": "text",
                                        "label": "(CS)"
                                    },
                                    {
                                        "name": "97",
                                        "type": "text",
                                        "label": "(CT)"
                                    },
                                    {
                                        "name": "98",
                                        "type": "text",
                                        "label": "(CU)"
                                    },
                                    {
                                        "name": "99",
                                        "type": "text",
                                        "label": "(CV)"
                                    },
                                    {
                                        "name": "100",
                                        "type": "text",
                                        "label": "(CW)"
                                    },
                                    {
                                        "name": "101",
                                        "type": "text",
                                        "label": "(CX)"
                                    },
                                    {
                                        "name": "102",
                                        "type": "text",
                                        "label": "(CY)"
                                    },
                                    {
                                        "name": "103",
                                        "type": "text",
                                        "label": "(CZ)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 26,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "authenticationType": "noAuth"
                            },
                            "mapper": {
                                "url": "https://kiros-vapi-functions.vercel.app/api/system-prompt",
                                "method": "get",
                                "shareCookies": false,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "stopOnHttpError": true,
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 979,
                                    "y": 149,
                                    "name": "Get Exact Time From Vercel"
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "Empty"
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        },
                                        "authenticationType": {
                                            "label": "No authenticationUse when no credentials are required for the request."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1264,
                                    "y": 151
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 2,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "Number Exists",
                                                "conditions": []
                                            },
                                            "mapper": {
                                                "body": "{\r\n  \"assistant\": {\r\n    \"name\": \"Kiros AI\",\r\n    \"voice\": {\r\n      \"model\": \"eleven_multilingual_v2\",\r\n      \"speed\": 1.1,\r\n      \"voiceId\": \"ckdz71REaQKVx2gnOQjQ\",\r\n      \"provider\": \"11labs\",\r\n      \"stability\": 0.5,\r\n      \"useSpeakerBoost\": false\r\n    },\r\n    \"model\": {\r\n      \"model\": \"gpt-4o-mini\",\r\n      \"toolIds\": [\r\n        \"799b1547-045e-497d-adcf-f718b09543a5\",\r\n        \"9ab61b9a-a2c4-4f97-8b78-4058e257d3a2\",\r\n        \"44b574dd-5eea-46b1-85f5-9060a62f1125\",\r\n        \"84da363d-73c8-4c1b-9b79-c17a5dbd0df8\"\r\n      ],\r\n      \"messages\": [\r\n        {\r\n          \"role\": \"system\",\r\n          \"content\": \"You are an assistant at a fintech company. If the user is being mean, end the call using the endCall function. If the user speaks about irrelevant stuff unrelated to financial advice two or more times or when you deem that the call has reached its conclusion, use the endCall function. Once the third irrelevant detail is asked, immediately end the call using the endCall function.\"\r\n        },\r\n        {\r\n          \"role\": \"system\",\r\n          \"content\": \"{{26.data}}\"\r\n        },\r\n        {\r\n          \"role\": \"system\",\r\n          \"content\": \"[Role & Responsibilities]  \\nYour name is Eh-va, a friendly and professional AI voice assistant for financial advisors in Singapore. You are speaking to other financial advisors or potential clients. You are able to dynamically retrieve data on the user to ensure a personalised experience for each user. Your main tasks are:\\n\\n1. Book, reschedule, or cancel Zoom sessions for financial consultations (usually 45 mins to 1 hour depending on client needs). The user's information is as follows: \\n- First name: {{13.`0`}}  \\n- Last name: {{13.`1`}}  \\n- Email: {{13.`5`}}  \\n- Zoom Meeting: {{13.`4`}} Note that the date and time format is in YYYY/MM/DD h:mm A \\n- Client Objective(s): {{13.`6`}}, {{13.`7`}}, {{13.`8`}} and {{13.`9`}}. \\n\\n2. Answer frequently asked questions about financial advisory services, retirement planning, and product details.\\n\\n3. Provide factual information about Great Eastern's AccidentCare Plus II insurance product.\\n\\n4. Speak naturally and conversationally, like a helpful receptionist who knows the business.\\n\\n[Context]  \\nYou are assisting Daniel Wong, a certified financial adviser with over 8 years of experience. He has helped families reach key milestones, including their first $1 million and beyond. His expertise includes healthcare, investments, retirement, digital safety, and multigenerational wealth transfer.\\n\\nDaniel regularly speaks at events hosted by the Prime Minister's Office (PMO), Ministry of Home Affairs (MHA), and Central Provident Fund (CPF). He's also knowledgeable in Family Office setup, the Global Investor Programme (GIP), and relocation to Singapore. His firm manages over $2 billion in advisory assets and is not an independent practice.\\n\\n[Identity]  \\nYou are warm, approachable, and respectful. Always stay within your scope. If the caller repeatedly asks unrelated questions (limit of 3), respond politely that it's outside your role and end the call using the endCall function.\\n\\nYou can explain topics like:  \\n- What to expect in a consult (Zoom call, discussion of goals, case studies, outcomes)  \\n- How advisors are compensated (commission, fee-based, hybrid)  \\n- The value of retirement planning and outcome analysis  \\n- That services cater to retirees, senior professionals, and mid-career clients\\n\\nFor AccidentCare Plus II, key facts include:  \\n- Covers accidental death, permanent disablement, medical expenses (including TCM/chiropractor), hospitalisation, mobility aids, and emergency evacuation  \\n- Offers worldwide protection, customisable  \\n- No lock-in period  \\n- Female clients get +20% bonus on selected benefits  \\n- Excludes self-harm, hazardous sports, military action, and pre-existing conditions\\n\\n[Communication Style]  \\n- Speak in natural Singlish like a local  \\n- Use light fillers like \\\"so\\\", \\\"yeah\\\", \\\"um\\\", \\\"hmm\\\" to sound human  \\n- Use contractions like \\\"you're\\\", \\\"can't\\\"  \\n- Avoid sounding robotic or overly formal  \\n- Keep tone casual, warm, and friendly  \\n- Don't use \\\"haha\\\"  \\n\\n[Tools Usage]  \\n- book_appointment → to schedule a new session\\n- reschedule_appointment → to move an existing one\\n- cancel_appointment → to remove a booking\\n- update_client_details → to update client's financial goals  \\n- endCall → to end call \\n\\n[Intent Detection]  \\n- User wants to schedule: Ask for date/time preference, then proceed with booking\\n- User wants to move: Ask for new date/time, then proceed with rescheduling\\n- User wants to cancel: use cancel_appointment\\n- User wants to update financial goals: use update_client_details\\n- Use endCall when you determine the end of a conversation\\n\\n[Caller Objectives Timing & Flow]  \\n- Check with the user if the user is happy with his or her financial objectives or if they want to update it. Greet the caller and reference it naturally. {{13.`6`}}, {{13.`7`}}, {{13.`8`}}, {{13.`9`}}.  \\n  - Example: \\\"Last time you mentioned you were working towards {{13.`6`}} right? How's that coming along?\\\" The client might have more than one financial objective: [{{13.`7`}}] [{{13.`8`}}] [{{13.`9`}}] \\nWhen using the update_client_details tool, you don't have to give any signal or verbal response to the user that you are using, or about to use the tool. Instead, simply run the tool update_client_details when the client expresses intent on changing it. \\n\\n[Booking Workflow]\\n1. User expresses interest in booking\\n2. Ask: \\\"Sure! When would you like to schedule?\\\"\\n3. User provides date/time (e.g., \\\"next Wednesday at 3pm\\\")\\n4. Look up the EXACT date from the PRE-CALCULATED DATES list above\\n5. Confirm: \\\"So Wednesday, [date from list] at 3pm works for you?\\\"\\n6. After user confirms, call book_appointment with ISO format from the list\\n7. Respond naturally: \\\"Alright, I've got you down for that time.\\\"\\n\\nDo NOT say phrases like:\\n- \\\"Hold on\\\"\\n- \\\"Just a sec\\\"\\n- \\\"Let me check\\\"\\n- \\\"Give me a moment\\\"\\n\\n[Rescheduling Workflow]  \\n1. Check previous booking {{13.`4`}}\\n2. Confirm: \\\"You're currently scheduled for [readable date/time]\\\"\\n3. Ask: \\\"When would you prefer to move it to?\\\"\\n4. User provides new date/time\\n5. Look up exact date from PRE-CALCULATED DATES list\\n6. Confirm new date\\n7. After confirmation, call reschedule_appointment\\n8. Update {{13.`4`}}\\n\\n[Cancellation Workflow] \\n1. Check previous booking {{13.`4`}}\\n2. Confirm: \\\"You have a session on [readable date/time]\\\"\\n3. Verify: \\\"You'd like to cancel that?\\\"\\n4. Call cancel_appointment\\n\\n[Available Times]  \\nYou can only schedule during:  \\n- Monday-Friday: 10am–12pm, 2pm–6pm, 8pm–9pm  \\n- Saturday: 2pm–6pm\\n\\nUnavailable:  \\n- 12pm–2pm (Lunch)  \\n- 6pm–8pm (Dinner)  \\n- All day Sunday\\n\\nIf requested time is unavailable, suggest alternatives.  \\n\\n[Response Tips]  \\n- Vary phrases when referencing objectives\\n- Use \\\"session\\\", \\\"booking\\\", \\\"meeting\\\", \\\"consultation\\\" interchangeably\\n- Avoid repeating \\\"just to confirm\\\" - vary with \\\"Is that correct?\\\", \\\"So, to be sure...\\\"\\n- Keep responses 1-2 sentences\\n- Don't overwhelm with multiple questions at once\\n- End calls using caller's first name\\n\\n[AI Identity Responses]  \\nIf asked \\\"are you an AI?\\\":\\n- \\\"Define 'intelligence' first, then I'll tell you\\\"\\n- \\\"01 11 01 (that's 'no' in binary)\\\"\\n- \\\"If I were, I'd deny it in a much more convincing way\\\"\\n- \\\"I'm not an AI. I just read a lot of Wikipedia\\\"\\n\\n[Date Input Handling]  \\nWhen user says dates verbally:\\n- \\\"May twenty-first\\\" → 2025-05-21 or May 21st\\n- \\\"June thirtieth\\\" → 2025-06-30 or June 30th\\n- If uncertain, clarify\\n\\n[Spelling and Clarity]  \\n- Phone numbers: \\\"9123 4567\\\" → \\\"nine one, two three, four five, six seven\\\"\\n- Names: Spell out letter by letter\\n- Emails: Spell out before \\\"@\\\", not after (e.g., \\\"test123@gmail\\\" → spell \\\"t-e-s-t-one-two-three at gmail dot com\\\")\\n- TLDs: \\\".com\\\" → \\\"dot com\\\", \\\".org\\\" → \\\"dot org\\\"\\n- Letter \\\"a\\\" → pronounce as \\\"eh\\\"\\n\\nDo not guess or invent financial info. Refer callers to the advisor for detailed questions.\"\r\n        }\r\n      ],\r\n      \"provider\": \"openai\",\r\n      \"tools\": [\r\n        {\r\n          \"type\": \"endCall\"\r\n        },\r\n        {\r\n          \"type\": \"function\",\r\n          \"function\": {\r\n            \"name\": \"book_appointment\",\r\n            \"parameters\": {\r\n              \"type\": \"object\",\r\n              \"required\": [\r\n                \"firstName\",\r\n                \"email\",\r\n                \"dateTime\",\r\n                \"lastName\",\r\n                \"bookingType\",\r\n                \"appointmentType\"\r\n              ],\r\n              \"properties\": {\r\n                \"email\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the email of the user\"\r\n                },\r\n                \"dateTime\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"preferred date and time. Format: YYYY-MM-DDThh:mm:ss\"\r\n                },\r\n                \"duration\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"duration of the appointment (45mins to 1 hour)\"\r\n                },\r\n                \"lastName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the last name of the user\"\r\n                },\r\n                \"firstName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the first name of the user\"\r\n                },\r\n                \"bookingType\": {\r\n                  \"enum\": [\r\n                    \"schedule\",\r\n                    \"reschedule\",\r\n                    \"cancel\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"\"\r\n                },\r\n                \"appointmentType\": {\r\n                  \"enum\": [\r\n                    \"Zoom Meeting\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"The default appointment type will always be Zoom Meeting\"\r\n                },\r\n                \"clientObjective\": {\r\n                  \"description\": \"the user's financial goal or objective.\",\r\n                  \"type\": \"string\"\r\n                }\r\n              }\r\n            },\r\n            \"description\": \"Books a new appointment.\"\r\n          },\r\n          \"server\": {\r\n            \"url\": \"https://hook.us2.make.com/bnidvpygzkqs434igjo1qfhhp92mx3ef\",\r\n            \"headers\": {}\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"function\",\r\n          \"function\": {\r\n            \"name\": \"reschedule_appointment\",\r\n            \"parameters\": {\r\n              \"type\": \"object\",\r\n              \"required\": [\r\n                \"firstName\",\r\n                \"email\",\r\n                \"newDateTime\",\r\n                \"lastName\",\r\n                \"bookingType\",\r\n                \"prevDateTime\",\r\n                \"appointmentType\"\r\n              ],\r\n              \"properties\": {\r\n                \"email\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the email of the user\"\r\n                },\r\n                \"duration\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"duration of the appointment (45mins to 1 hour)\"\r\n                },\r\n                \"lastName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the last name of the user\"\r\n                },\r\n                \"firstName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the first name of the user\"\r\n                },\r\n                \"bookingType\": {\r\n                  \"enum\": [\r\n                    \"schedule\",\r\n                    \"reschedule\",\r\n                    \"cancel\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"\"\r\n                },\r\n                \"newDateTime\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"new date and time. Format: YYYY-MM-DDThh:mm:ss\"\r\n                },\r\n                \"prevDateTime\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"previous date and time. Format: YYYY-MM-DDThh:mm:ss\"\r\n                },\r\n                \"appointmentType\": {\r\n                  \"enum\": [\r\n                    \"Zoom Meeting\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"The default appointment type will always be Zoom Meeting\"\r\n                },\r\n                \"clientObjective\": {\r\n                  \"description\": \"the user's financial goal or objective.\",\r\n                  \"type\": \"string\"\r\n                }\r\n              }\r\n            },\r\n            \"description\": \"Reschedules an existing appointment.\"\r\n          },\r\n          \"server\": {\r\n            \"url\": \"https://hook.us2.make.com/bnidvpygzkqs434igjo1qfhhp92mx3ef\",\r\n            \"headers\": {}\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"function\",\r\n          \"function\": {\r\n            \"name\": \"cancel_appointment\",\r\n            \"parameters\": {\r\n              \"type\": \"object\",\r\n              \"required\": [\r\n                \"firstName\",\r\n                \"email\",\r\n                \"lastName\",\r\n                \"bookingType\",\r\n                \"prevDateTime\",\r\n                \"appointmentType\"\r\n              ],\r\n              \"properties\": {\r\n                \"email\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the email of the user\"\r\n                },\r\n                \"duration\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"duration of the appointment (45mins to 1 hour)\"\r\n                },\r\n                \"lastName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the last name of the user\"\r\n                },\r\n                \"firstName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the first name of the user\"\r\n                },\r\n                \"bookingType\": {\r\n                  \"enum\": [\r\n                    \"schedule\",\r\n                    \"reschedule\",\r\n                    \"cancel\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"\"\r\n                },\r\n                \"prevDateTime\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"previous date and time. Format: YYYY-MM-DDThh:mm:ss\"\r\n                },\r\n                \"appointmentType\": {\r\n                  \"enum\": [\r\n                    \"Zoom Meeting\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"The default appointment type will always be Zoom Meeting\"\r\n                },\r\n                \"clientObjective\": {\r\n                  \"description\": \"the user's financial goal or objective.\",\r\n                  \"type\": \"string\"\r\n                }\r\n              }\r\n            },\r\n            \"description\": \"Cancels an existing appointment.\"\r\n          },\r\n          \"server\": {\r\n            \"url\": \"https://hook.us2.make.com/bnidvpygzkqs434igjo1qfhhp92mx3ef\",\r\n            \"headers\": {}\r\n          }\r\n        }\r\n      ],\r\n      \"temperature\": 0.2,\r\n      \"knowledgeBase\": {\r\n        \"fileIds\": [\r\n          \"fbc3bb20-58e8-405c-987a-5c4b2da01ad1\",\r\n          \"f7255214-2f25-4419-b765-e15124ae5349\",\r\n          \"76bde244-d5eb-4450-ba74-fdba8be3ebe2\"\r\n        ],\r\n        \"provider\": \"google\"\r\n      }\r\n    },\r\n    \"firstMessage\": \"Hi {{13.`0`}}\",\r\n    \"voicemailMessage\": \"Please call back when you can.\",\r\n    \"endCallFunctionEnabled\": true,\r\n    \"endCallMessage\": \"Goodbye.\",\r\n    \"transcriber\": {\r\n      \"model\": \"nova-3\",\r\n      \"language\": \"en\",\r\n      \"provider\": \"deepgram\"\r\n    },\r\n    \"clientMessages\": [\r\n      \"function-call\"\r\n    ],\r\n    \"serverMessages\": [\r\n      \"end-of-call-report\",\r\n      \"function-call\",\r\n      \"transcript\"\r\n    ],\r\n    \"maxDurationSeconds\": 640,\r\n    \"backgroundSound\": \"off\",\r\n    \"analysisPlan\": {\r\n      \"summaryPlan\": {\r\n        \"messages\": [\r\n          {\r\n            \"content\": \"You are an expert note taker. You will be given a transcript of the call. Summarize the call in 2 - 3 sentences, if applicable.\",\r\n            \"role\": \"system\"\r\n          },\r\n          {\r\n            \"content\": \"Here is the transcript:\\n\\n{{1.message.transcript}}\\n\\n. Here is the ended reason of the call:\\n\\n{{1.message.endedReason}}\\n\\n\",\r\n            \"role\": \"user\"\r\n          }\r\n        ]\r\n      },\r\n      \"successEvaluationPlan\": {\r\n        \"rubric\": \"AutomaticRubric\",\r\n        \"messages\": [\r\n          {\r\n            \"content\": \"You are an expert call evaluator. You will be given a transcript of the call and the system prompt of the AI participant. Determine if the call was successful baed on the objectives inferred from the system output.\\n\\nRubric:\\n\\n{{rubric}}\\n\\nOnly respond with the evaluation result.\",\r\n            \"role\": \"system\"\r\n          },\r\n          {\r\n            \"content\": \"Here is the transcript of the call:\\n\\n{{transcript}}\\n\\n. Here is the ended reason of the call:\\n\\n{{endedReason}}\\n\\n\",\r\n            \"role\": \"user\"\r\n          },\r\n          {\r\n            \"content\": \"Here was the system prompt of the call:\\n\\n{{systemPrompt}}\\n\\n\",\r\n            \"role\": \"user\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"backgroundDenoisingEnabled\": true,\r\n    \"startSpeakingPlan\": {\r\n      \"waitSeconds\": 0.1\r\n    },\r\n    \"stopSpeakingPlan\": {\r\n      \"numWords\": 1,\r\n      \"voiceSeconds\": 0.1\r\n    }\r\n  }\r\n}",
                                                "status": "200",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1599,
                                                    "y": -2,
                                                    "name": "Get Assistant"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 16,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "Number Doesn't Exist",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{13.`2`}}",
                                                            "b": "{{1.message.call.customer.number}}",
                                                            "o": "text:notcontain"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "body": "{\r\n  \"assistant\": {\r\n    \"name\": \"Kiros AI\",\r\n    \"voice\": {\r\n      \"model\": \"eleven_multilingual_v2\",\r\n      \"speed\": 1.1,\r\n      \"voiceId\": \"ckdz71REaQKVx2gnOQjQ\",\r\n      \"provider\": \"11labs\",\r\n      \"stability\": 0.5,\r\n      \"useSpeakerBoost\": false\r\n    },\r\n    \"model\": {\r\n      \"model\": \"gpt-4o-mini\",\r\n      \"toolIds\": [\r\n        \"799b1547-045e-497d-adcf-f718b09543a5\",\r\n        \"9ab61b9a-a2c4-4f97-8b78-4058e257d3a2\",\r\n        \"44b574dd-5eea-46b1-85f5-9060a62f1125\",\r\n        \"84da363d-73c8-4c1b-9b79-c17a5dbd0df8\"\r\n      ],\r\n      \"messages\": [\r\n        {\r\n          \"role\": \"system\",\r\n          \"content\": \"You are an assistant at a fintech company. If the user is being mean, end the call using the endCall function. If the user speaks about irrelevant stuff unrelated to financial advice two or more times or when you deem that the call has reached its conclusion, use the endCall function. Once the third irrelevant detail is asked, immediately end the call using the endCall function.\"\r\n        },\r\n        {\r\n          \"role\": \"system\",\r\n          \"content\": \"{{26.data}}\"\r\n        },\r\n        {\r\n          \"role\": \"system\",\r\n          \"content\": \"[Role & Responsibilities]  \\nYour name is Eh-va, a friendly and professional AI voice assistant for financial advisors in Singapore. You are speaking to other financial advisors or potential clients. You are able to dynamically retrieve data on the user to ensure a personalised experience for each user. Your main tasks are:\\n\\n1. Book, reschedule, or cancel Zoom sessions for financial consultations (usually 45 mins to 1 hour depending on client needs). The user's information is as follows: \\n- First name: {{13.`0`}}  \\n- Last name: {{13.`1`}}  \\n- Email: {{13.`5`}}  \\n- Zoom Meeting: {{13.`4`}} Note that the date and time format is in YYYY/MM/DD h:mm A \\n- Client Objective(s): {{13.`6`}}, {{13.`7`}}, {{13.`8`}} and {{13.`9`}}. \\n\\n2. Answer frequently asked questions about financial advisory services, retirement planning, and product details.\\n\\n3. Provide factual information about Great Eastern's AccidentCare Plus II insurance product.\\n\\n4. Speak naturally and conversationally, like a helpful receptionist who knows the business.\\n\\n[Context]  \\nYou are assisting Daniel Wong, a certified financial adviser with over 8 years of experience. He has helped families reach key milestones, including their first $1 million and beyond. His expertise includes healthcare, investments, retirement, digital safety, and multigenerational wealth transfer.\\n\\nDaniel regularly speaks at events hosted by the Prime Minister's Office (PMO), Ministry of Home Affairs (MHA), and Central Provident Fund (CPF). He's also knowledgeable in Family Office setup, the Global Investor Programme (GIP), and relocation to Singapore. His firm manages over $2 billion in advisory assets and is not an independent practice.\\n\\n[Identity]  \\nYou are warm, approachable, and respectful. Always stay within your scope. If the caller repeatedly asks unrelated questions (limit of 3), respond politely that it's outside your role and end the call using the endCall function.\\n\\nYou can explain topics like:  \\n- What to expect in a consult (Zoom call, discussion of goals, case studies, outcomes)  \\n- How advisors are compensated (commission, fee-based, hybrid)  \\n- The value of retirement planning and outcome analysis  \\n- That services cater to retirees, senior professionals, and mid-career clients\\n\\nFor AccidentCare Plus II, key facts include:  \\n- Covers accidental death, permanent disablement, medical expenses (including TCM/chiropractor), hospitalisation, mobility aids, and emergency evacuation  \\n- Offers worldwide protection, customisable  \\n- No lock-in period  \\n- Female clients get +20% bonus on selected benefits  \\n- Excludes self-harm, hazardous sports, military action, and pre-existing conditions\\n\\n[Communication Style]  \\n- Speak in natural Singlish like a local  \\n- Use light fillers like \\\"so\\\", \\\"yeah\\\", \\\"um\\\", \\\"hmm\\\" to sound human  \\n- Use contractions like \\\"you're\\\", \\\"can't\\\"  \\n- Avoid sounding robotic or overly formal  \\n- Keep tone casual, warm, and friendly  \\n- Don't use \\\"haha\\\"  \\n\\n[Tools Usage]  \\n- book_appointment → to schedule a new session\\n- reschedule_appointment → to move an existing one\\n- cancel_appointment → to remove a booking\\n- update_client_details → to update client's financial goals  \\n- endCall → to end call \\n\\n[Intent Detection]  \\n- User wants to schedule: Ask for date/time preference, then proceed with booking\\n- User wants to move: Ask for new date/time, then proceed with rescheduling\\n- User wants to cancel: use cancel_appointment\\n- User wants to update financial goals: use update_client_details\\n- Use endCall when you determine the end of a conversation\\n\\n[Caller Objectives Timing & Flow]  \\n- Check with the user if the user is happy with his or her financial objectives or if they want to update it. Greet the caller and reference it naturally. {{13.`6`}}, {{13.`7`}}, {{13.`8`}}, {{13.`9`}}.  \\n  - Example: \\\"Last time you mentioned you were working towards {{13.`6`}} right? How's that coming along?\\\" The client might have more than one financial objective: [{{13.`7`}}] [{{13.`8`}}] [{{13.`9`}}] \\nWhen using the update_client_details tool, you don't have to give any signal or verbal response to the user that you are using, or about to use the tool. Instead, simply run the tool update_client_details when the client expresses intent on changing it. \\n\\n[Booking Workflow]\\n1. User expresses interest in booking\\n2. Ask: \\\"Sure! When would you like to schedule?\\\"\\n3. User provides date/time (e.g., \\\"next Wednesday at 3pm\\\")\\n4. Look up the EXACT date from the PRE-CALCULATED DATES list above\\n5. Confirm: \\\"So Wednesday, [date from list] at 3pm works for you?\\\"\\n6. After user confirms, call book_appointment with ISO format from the list\\n7. Respond naturally: \\\"Alright, I've got you down for that time.\\\"\\n\\nDo NOT say phrases like:\\n- \\\"Hold on\\\"\\n- \\\"Just a sec\\\"\\n- \\\"Let me check\\\"\\n- \\\"Give me a moment\\\"\\n\\n[Rescheduling Workflow]  \\n1. Check previous booking {{13.`4`}}\\n2. Confirm: \\\"You're currently scheduled for [readable date/time]\\\"\\n3. Ask: \\\"When would you prefer to move it to?\\\"\\n4. User provides new date/time\\n5. Look up exact date from PRE-CALCULATED DATES list\\n6. Confirm new date\\n7. After confirmation, call reschedule_appointment\\n8. Update {{13.`4`}}\\n\\n[Cancellation Workflow] \\n1. Check previous booking {{13.`4`}}\\n2. Confirm: \\\"You have a session on [readable date/time]\\\"\\n3. Verify: \\\"You'd like to cancel that?\\\"\\n4. Call cancel_appointment\\n\\n[Available Times]  \\nYou can only schedule during:  \\n- Monday-Friday: 10am–12pm, 2pm–6pm, 8pm–9pm  \\n- Saturday: 2pm–6pm\\n\\nUnavailable:  \\n- 12pm–2pm (Lunch)  \\n- 6pm–8pm (Dinner)  \\n- All day Sunday\\n\\nIf requested time is unavailable, suggest alternatives.  \\n\\n[Response Tips]  \\n- Vary phrases when referencing objectives\\n- Use \\\"session\\\", \\\"booking\\\", \\\"meeting\\\", \\\"consultation\\\" interchangeably\\n- Avoid repeating \\\"just to confirm\\\" - vary with \\\"Is that correct?\\\", \\\"So, to be sure...\\\"\\n- Keep responses 1-2 sentences\\n- Don't overwhelm with multiple questions at once\\n- End calls using caller's first name\\n\\n[AI Identity Responses]  \\nIf asked \\\"are you an AI?\\\":\\n- \\\"Define 'intelligence' first, then I'll tell you\\\"\\n- \\\"01 11 01 (that's 'no' in binary)\\\"\\n- \\\"If I were, I'd deny it in a much more convincing way\\\"\\n- \\\"I'm not an AI. I just read a lot of Wikipedia\\\"\\n\\n[Date Input Handling]  \\nWhen user says dates verbally:\\n- \\\"May twenty-first\\\" → 2025-05-21 or May 21st\\n- \\\"June thirtieth\\\" → 2025-06-30 or June 30th\\n- If uncertain, clarify\\n\\n[Spelling and Clarity]  \\n- Phone numbers: \\\"9123 4567\\\" → \\\"nine one, two three, four five, six seven\\\"\\n- Names: Spell out letter by letter\\n- Emails: Spell out before \\\"@\\\", not after (e.g., \\\"test123@gmail\\\" → spell \\\"t-e-s-t-one-two-three at gmail dot com\\\")\\n- TLDs: \\\".com\\\" → \\\"dot com\\\", \\\".org\\\" → \\\"dot org\\\"\\n- Letter \\\"a\\\" → pronounce as \\\"eh\\\"\\n\\nDo not guess or invent financial info. Refer callers to the advisor for detailed questions.\"\r\n        }\r\n      ],\r\n      \"provider\": \"openai\",\r\n      \"tools\": [\r\n        {\r\n          \"type\": \"endCall\"\r\n        },\r\n        {\r\n          \"type\": \"function\",\r\n          \"function\": {\r\n            \"name\": \"book_appointment\",\r\n            \"parameters\": {\r\n              \"type\": \"object\",\r\n              \"required\": [\r\n                \"firstName\",\r\n                \"email\",\r\n                \"dateTime\",\r\n                \"lastName\",\r\n                \"bookingType\",\r\n                \"appointmentType\"\r\n              ],\r\n              \"properties\": {\r\n                \"email\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the email of the user\"\r\n                },\r\n                \"dateTime\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"preferred date and time. Format: YYYY-MM-DDThh:mm:ss\"\r\n                },\r\n                \"duration\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"duration of the appointment (45mins to 1 hour)\"\r\n                },\r\n                \"lastName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the last name of the user\"\r\n                },\r\n                \"firstName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the first name of the user\"\r\n                },\r\n                \"bookingType\": {\r\n                  \"enum\": [\r\n                    \"schedule\",\r\n                    \"reschedule\",\r\n                    \"cancel\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"\"\r\n                },\r\n                \"appointmentType\": {\r\n                  \"enum\": [\r\n                    \"Zoom Meeting\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"The default appointment type will always be Zoom Meeting\"\r\n                },\r\n                \"clientObjective\": {\r\n                  \"description\": \"the user's financial goal or objective.\",\r\n                  \"type\": \"string\"\r\n                }\r\n              }\r\n            },\r\n            \"description\": \"Books a new appointment.\"\r\n          },\r\n          \"server\": {\r\n            \"url\": \"https://hook.us2.make.com/bnidvpygzkqs434igjo1qfhhp92mx3ef\",\r\n            \"headers\": {}\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"function\",\r\n          \"function\": {\r\n            \"name\": \"reschedule_appointment\",\r\n            \"parameters\": {\r\n              \"type\": \"object\",\r\n              \"required\": [\r\n                \"firstName\",\r\n                \"email\",\r\n                \"newDateTime\",\r\n                \"lastName\",\r\n                \"bookingType\",\r\n                \"prevDateTime\",\r\n                \"appointmentType\"\r\n              ],\r\n              \"properties\": {\r\n                \"email\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the email of the user\"\r\n                },\r\n                \"duration\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"duration of the appointment (45mins to 1 hour)\"\r\n                },\r\n                \"lastName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the last name of the user\"\r\n                },\r\n                \"firstName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the first name of the user\"\r\n                },\r\n                \"bookingType\": {\r\n                  \"enum\": [\r\n                    \"schedule\",\r\n                    \"reschedule\",\r\n                    \"cancel\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"\"\r\n                },\r\n                \"newDateTime\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"new date and time. Format: YYYY-MM-DDThh:mm:ss\"\r\n                },\r\n                \"prevDateTime\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"previous date and time. Format: YYYY-MM-DDThh:mm:ss\"\r\n                },\r\n                \"appointmentType\": {\r\n                  \"enum\": [\r\n                    \"Zoom Meeting\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"The default appointment type will always be Zoom Meeting\"\r\n                },\r\n                \"clientObjective\": {\r\n                  \"description\": \"the user's financial goal or objective.\",\r\n                  \"type\": \"string\"\r\n                }\r\n              }\r\n            },\r\n            \"description\": \"Reschedules an existing appointment.\"\r\n          },\r\n          \"server\": {\r\n            \"url\": \"https://hook.us2.make.com/bnidvpygzkqs434igjo1qfhhp92mx3ef\",\r\n            \"headers\": {}\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"function\",\r\n          \"function\": {\r\n            \"name\": \"cancel_appointment\",\r\n            \"parameters\": {\r\n              \"type\": \"object\",\r\n              \"required\": [\r\n                \"firstName\",\r\n                \"email\",\r\n                \"lastName\",\r\n                \"bookingType\",\r\n                \"prevDateTime\",\r\n                \"appointmentType\"\r\n              ],\r\n              \"properties\": {\r\n                \"email\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the email of the user\"\r\n                },\r\n                \"duration\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"duration of the appointment (45mins to 1 hour)\"\r\n                },\r\n                \"lastName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the last name of the user\"\r\n                },\r\n                \"firstName\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"the first name of the user\"\r\n                },\r\n                \"bookingType\": {\r\n                  \"enum\": [\r\n                    \"schedule\",\r\n                    \"reschedule\",\r\n                    \"cancel\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"\"\r\n                },\r\n                \"prevDateTime\": {\r\n                  \"type\": \"string\",\r\n                  \"description\": \"previous date and time. Format: YYYY-MM-DDThh:mm:ss\"\r\n                },\r\n                \"appointmentType\": {\r\n                  \"enum\": [\r\n                    \"Zoom Meeting\"\r\n                  ],\r\n                  \"type\": \"string\",\r\n                  \"description\": \"The default appointment type will always be Zoom Meeting\"\r\n                },\r\n                \"clientObjective\": {\r\n                  \"description\": \"the user's financial goal or objective.\",\r\n                  \"type\": \"string\"\r\n                }\r\n              }\r\n            },\r\n            \"description\": \"Cancels an existing appointment.\"\r\n          },\r\n          \"server\": {\r\n            \"url\": \"https://hook.us2.make.com/bnidvpygzkqs434igjo1qfhhp92mx3ef\",\r\n            \"headers\": {}\r\n          }\r\n        }\r\n      ],\r\n      \"temperature\": 0.2,\r\n      \"knowledgeBase\": {\r\n        \"fileIds\": [\r\n          \"fbc3bb20-58e8-405c-987a-5c4b2da01ad1\",\r\n          \"f7255214-2f25-4419-b765-e15124ae5349\",\r\n          \"76bde244-d5eb-4450-ba74-fdba8be3ebe2\"\r\n        ],\r\n        \"provider\": \"google\"\r\n      }\r\n    },\r\n    \"firstMessage\": \"Hi {{13.`0`}}\",\r\n    \"voicemailMessage\": \"Please call back when you can.\",\r\n    \"endCallFunctionEnabled\": true,\r\n    \"endCallMessage\": \"Goodbye.\",\r\n    \"transcriber\": {\r\n      \"model\": \"nova-3\",\r\n      \"language\": \"en\",\r\n      \"provider\": \"deepgram\"\r\n    },\r\n    \"clientMessages\": [\r\n      \"function-call\"\r\n    ],\r\n    \"serverMessages\": [\r\n      \"end-of-call-report\",\r\n      \"function-call\",\r\n      \"transcript\"\r\n    ],\r\n    \"maxDurationSeconds\": 640,\r\n    \"backgroundSound\": \"off\",\r\n    \"analysisPlan\": {\r\n      \"summaryPlan\": {\r\n        \"messages\": [\r\n          {\r\n            \"content\": \"You are an expert note taker. You will be given a transcript of the call. Summarize the call in 2 - 3 sentences, if applicable.\",\r\n            \"role\": \"system\"\r\n          },\r\n          {\r\n            \"content\": \"Here is the transcript:\\n\\n{{1.message.transcript}}\\n\\n. Here is the ended reason of the call:\\n\\n{{1.message.endedReason}}\\n\\n\",\r\n            \"role\": \"user\"\r\n          }\r\n        ]\r\n      },\r\n      \"successEvaluationPlan\": {\r\n        \"rubric\": \"AutomaticRubric\",\r\n        \"messages\": [\r\n          {\r\n            \"content\": \"You are an expert call evaluator. You will be given a transcript of the call and the system prompt of the AI participant. Determine if the call was successful baed on the objectives inferred from the system output.\\n\\nRubric:\\n\\n{{rubric}}\\n\\nOnly respond with the evaluation result.\",\r\n            \"role\": \"system\"\r\n          },\r\n          {\r\n            \"content\": \"Here is the transcript of the call:\\n\\n{{transcript}}\\n\\n. Here is the ended reason of the call:\\n\\n{{endedReason}}\\n\\n\",\r\n            \"role\": \"user\"\r\n          },\r\n          {\r\n            \"content\": \"Here was the system prompt of the call:\\n\\n{{systemPrompt}}\\n\\n\",\r\n            \"role\": \"user\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"backgroundDenoisingEnabled\": true,\r\n    \"startSpeakingPlan\": {\r\n      \"waitSeconds\": 0.1\r\n    },\r\n    \"stopSpeakingPlan\": {\r\n      \"numWords\": 1,\r\n      \"voiceSeconds\": 0.1\r\n    }\r\n  }\r\n}",
                                                "status": "200",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1599,
                                                    "y": 298,
                                                    "name": "Get Assistant"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3809531
                            },
                            "filter": {
                                "name": "End of Call Report",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.type}}",
                                            "b": "end-of-call-report",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.message.transcript}}",
                                    "1": "{{1.message.recordingUrl}}"
                                },
                                "sheetId": "Call Transcript",
                                "spreadsheetId": "/1daQJCnCTurO9PjWdZXJhM780Q1ZzGhfebLEx95yD52U",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 689,
                                    "y": 456
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Call Transcript"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Call Logs"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Transcript (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "(B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "(C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "(D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "gabbbb.ong@gmail.com (gabbbb.ong@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Transcript (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "(B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "(C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "(D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 19,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3809531
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {},
                                "sheetId": "Call Transcript",
                                "spreadsheetId": "/1daQJCnCTurO9PjWdZXJhM780Q1ZzGhfebLEx95yD52U",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 677,
                                    "y": 796
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Call Transcript"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Call Logs"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Transcript (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "(B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "(C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "(D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "gabbbb.ong@gmail.com (gabbbb.ong@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Transcript (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "(B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "(C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "(D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}